@import "tailwindcss";

@theme {
  --color-cream: #FFFBE4;
  --color-green-brand: #777955;
  --color-green-dark: #5C6340;
  --color-orange-cta: #B95912;
  --color-text-main: #2C2C2C;
  --color-text-muted: #6B7280;
  --color-yellow-accent: #E2B808;

  --font-family-sans: var(--font-manrope), sans-serif;
}